<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link type="text/css" rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <%- include ../partials/navbar.ejs %>

        <div class="center">
            <h1 style="text-align:center">Login</h1>
            <form action="/auth/login" method="post">
                <p>
                    <label for="user">User</label>
                    <input type="text" name="username" id="username" autofocus/>
                    <input type="submit" value="Submit" style="text-align:center"/>
            </form>
            <a class="button" href="/auth/register" style="text-align:center">Register</a> 
        </div>
    </body>
</html>
