<!DOCTYPE html>

<html>
    <head>
        <title>Register</title>
        <link type="text/css" rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <%- include ../partials/navbar.ejs %>
        
        <% if (locals.message) { %>
        <h1><%= message %></h1>
        <% } %>
        <div class="center">
            <h1>Register</h1>
            <form action="/auth/register" method="post">
                <p>
                    <label for="user">User</label>
                    <input type="text" name="username" id="username" autofocus />
                    <input type="submit" value="Submit" />
                </p>
            </form>
		    <a class="button" href="/auth/login">Login</a> 
        </div>
    </body>
</html>
