<!DOCTYPE html>

<html>
    <head>
        <title>Page not found</title>
        <link type="text/css" rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <%- include ../partials/navbar.ejs %>

        <h1 style="text-align:center">Error 404</h1>
        <h2 style="text-align:center">Page Not Found</h2>
    </body>
</html>
